/* Pega aquí todo el código que me mostraste en tu mensaje */
/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(https://imgur.com/fLKAl5x.gif);
    height: 598px;
    width: 806px;
}
/* ... Asegúrate de pegar TODO el resto de tu código aquí ... */
/*END PS4 Controller Styling*/
