/* === 1. SOBRESCRIBIR EL BASE.SVG (El cuerpo del mando) === */
.controller.ds4 {
    /* Le decimos: Olvida tu ps4-assets/base.svg, usa MI imagen */
    background: url(https://imgur.com/fLKAl5x.gif) no-repeat center !important;
    background-size: contain !important;
    /* Ajustamos el tamaño porque tu diseño es más ancho que el original */
    width: 806px !important;
    height: 598px !important;
}

/* === 2. SOBRESCRIBIR LOS FACE.SVG (Botones X, O, etc) === */
.ds4 .button {
    background: url(https://imgur.com/MZNLif9.png) !important;
    /* Ajustamos tamaño */
    width: 55px !important; 
    height: 55px !important;
}

/* === 3. SOBRESCRIBIR EL DPAD.SVG (Cruceta) === */
.ds4 .face { 
    background: url(https://imgur.com/WNF93NX.png) !important; 
}

/* === 4. SOBRESCRIBIR STICKS.SVG (Palancas) === */
.ds4 .stick {
    background: url(https://imgur.com/0i3dnwf.png) !important;
    width: 100px !important; 
    height: 100px !important;
}

/* === 5. BORRAR LO QUE NO SIRVE (Limpieza) === */
/* Aquí ocultamos las cosas de 'ps4-assets' que estorban en tu diseño */
.ds4 .quadrant,      /* Borra el Player 1 */
.ds4 .arrows,        /* Borra flechas */
.ds4 .trigger:after, /* Borra texto L2 */
.ds4 .trigger:before,
.ds4 .bumper:after,  /* Borra texto L1 */
.ds4 .bumper:before { 
    display: none !important; 
    content: "" !important;
}

/* === 6. ACOMODAR TUS HUESOS (Posicionamiento) === */
/* Como tu mando es PS5, movemos las cajas invisibles para que calcen */

/* Grupo Botones Derecha */
.ds4 .abxy {
    position: absolute !important;
    top: 155px !important;    
    left: 575px !important;   
    width: 170px !important;
    height: 170px !important;
}

/* Grupo Cruceta Izquierda */
.ds4 .dpad {
    position: absolute !important;
    top: 180px !important;
    left: 85px !important; 
    width: 125px !important;
    height: 126px !important;
}

/* Grupo Palancas */
.ds4 .sticks {
    position: absolute !important;
    top: 315px !important;
    left: 228px !important;
    width: 361px !important;
}

/* Ajuste fino individual de botones */
.ds4 .a { bottom: 0 !important; left: 58px !important; } /* X */
.ds4 .b { top: 58px !important; right: -8px !important; } /* O */
.ds4 .x { top: 58px !important; left: -8px !important; }  /* Cuadro */
.ds4 .y { top: 0 !important; left: 58px !important; }     /* Triangulo */

/* Animación al presionar */
.ds4 .button.pressed {
    background-position-y: 55px !important;
    margin-top: 4px !important;
}
